@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-dark: #101c2d;
  --blue-medium: #3e505b;
  --white: #f8f8f8;
  --light-color: #d9d9d970;
  --font-family-titles: "Dosis", sans-serif;
  --font-family-text: "Commissioner", sans-serif;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;
  --font-weight-extraLight: 200;
}

p {
  color: var(--white);
}
.container {
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    max-width: 1152px;
    width: 100%;
  }
}
.dosis {
  font-family: var(--font-family-titles);
}


.swiper-button-next,
.swiper-button-prev,
.swiper-button-next-categories,
.swiper-button-prev-categories
{
  backdrop-filter: blur(5px);
  background-color: var(--light-color);
  padding: 12px 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  cursor: pointer;
  border: none;
  border-radius: 20px;
  color: var(--white);
  font-family: var(--font-family-text);
  font-size: 14px;
  z-index: 5;
  transition: transform 0.3 ease;
}

.swiper-button-next-categories{
  margin-bottom: 10px;
  right: 0;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: var(--blue-medium);
}
.swiper-button-disabled {
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.overlay {
  background-image: linear-gradient(#101c2db7, #101c2da2);
}
.detailMovie-container {
  
    backdrop-filter: blur(10px);
    background: linear-gradient(#b9b9b9c2, #3e505b);
    border-radius: 25px 25px 0 0;
    box-shadow: 12px -12px 16px #36363621;
   
    padding: 24px;
}

@media (min-width: 768px) {
    .detailMovie-container {
        background: linear-gradient(#b9b9b9c2, #b9b9b9c2);
        border-radius: 25px;
        padding: 57px;
    }
}